@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	max-width: 1440px;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
 	font-weight: 400;
 	font-style: normal;
	margin: 0;

}

h2{
	font-weight: 700;
	font-size: 80px;
	color: white;
	display: inline;
}
h3{
	font-weight: 600;
	font-size: 50px;
	color:white;
	text-shadow: 2px 2px 5px black;
}

h4{
	color: white;
	font-size: 50px;
	font-weight: 200;
	font-family: "Inter", sans-serif;
	display: inline;
	}

footer{
	display: flex;
	justify-content: space-evenly;
	align-items:center;
	flex-wrap: wrap;
	flex-direction:row;
	color: white;
	background-color:#292A2D;
	height: 400px;
}

.my_header {
  position: sticky;
  top: 0;
	height: 137px;
  padding: 10px 10px;
  background: #292A2D;
	z-index: 100;
}
.nav_bar{
	height: 137px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction:row;
}

.landing_page{
	display: block;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	background: url("../img/main_background.png");
	text-align: center;
	height: 2106px;
	position: relative;
}
.landing_logos{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.works_page{
	margin-top: 250px;
}

.work_banner{
	margin-bottom: -100px;
}

.left_right_buttons{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1300px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 600px;
}

.container{
	height: 800px;
/*
	display: grid;
	grid-template-rows: 500px 400px;
	grid-template-columns: 1fr 30px 30px 30px 1fr;
*/
	align-items: center;
	justify-content: center;
	
}

#work_carousel{
	grid-row: 1/2;
	grid-column: 1/8;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 600px;
	--items: 3;
	--middle: 2;
	--position: 1;
	--carousel-opacity: 0.5;
	pointer-events: none;
}


.work_item{
	text-align: center;
	position: absolute;
	width: 500px;
	height: 450px;
	--r: calc(var(--position) - var(--offset));
	--abs: max(calc(var(--r) * -1), var(--r));
	transition: all 0.25s linear;
	transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-550px * var(--r)));
	z-index: calc((var(--position) - var(--abs)));
	
}
.work_item img{
	width: 400px;
}
.work_item:nth-child(1){ /* baseball child*/
	--offset: 1;
}
.work_item:nth-child(2){ /*esports logo */
	--offset: 2;
}

.work_item:nth-child(3){ /* mural */
	--offset: 3;
	
}
.work-item:nth-child(1).active{
	opacity:1
}

input:nth-of-type(1){
	grid-column: 2/3;
	grid-row: 2/3;

}
input:nth-of-type(1):checked ~ #work_carousel{
	--position: 1;
}

input:nth-of-type(2){
	grid-column: 3/4;
	grid-row: 2/3;
}
input:nth-of-type(2):checked ~ #work_carousel{
	--position: 2;
}

input:nth-of-type(3){
	grid-column: 4/5;
	grid-row: 2/3;
	
}
input:nth-of-type(3):checked ~ #work_carousel{
	--position: 3;
	
	
	
}


.style_page{ 
	width: 1440px;
	height: 1197px; 
	display: flex;
	justify-content: center;
    align-items: center;
	background: url("../img/green_background.png");
}

.style_page img{
	position: relative;
}

.style_items{
	position: absolute;
	padding-top: 100px;
	width: 1000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	
}


.style_vector{
	width: 440px;
	height: 344px;
	display: flex; 
	justify-content: center;
    align-items: center;
	background-image:url("../img/style_vector.png");
	background-size: cover;
}

.style_group{
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.style_layout{
	width: 504px;
	height: 110px;
	display: flex;
    justify-content: center;
    align-items: center;
	background-image:url("../img/style_layout.png");
	background-size: cover;
}
.style_illustration{
	width: 504px;
	height: 218px;
	display: grid; 
	place-items: center;
	background-image:url("../img/style_illustrations.png");
	background-size: cover;
	
}
.style_motion{
	width: 962px;
	height: 121px;
	  display: flex;
    justify-content: center;
    align-items: center;
	background: #595959;
	background-image:url("../img/style_motion.png");
	background-size: cover;
}
.style_photography{
	width: 440px;
	height: 209px;
	  display: flex;
    justify-content: center;
    align-items: center;
	background-image:url("../img/style_photography.png");
	background-size: cover;
	
}
.style_web{
	width: 504px;
	height: 209px;
	display: grid; 
	place-items: center;
	background-image:url("../img/style_web.png");
	background-size: cover;
}

button{
	border: none;
	width: 200px;
	background-color: transparent;
	font-size: 45px;
	font-family: "Inter", Sans-serif;
	font-weight: 300;
	color:white;
}

.grow_button{
	border: none;
	width: 400px;
	background-color: transparent;
	font-size: 50px;
	font-family: Inter, Sans-serif;
	font-weight: 600;
	color:white;
	text-shadow: 2px 2px 5px black;
	
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;


}
.grow_button:hover {
	transform: scale(1.2);
	

	
}


.about_page{
	height: 1009px;
	display: flex;
	flex-wrap: wrap;
	flex-direction:column;
	justify-content: center;
	align-content: center;
	text-align: center;
	background: url("../img/about_background.png");
}
.about_info{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 1440px;
}
.about_me{
	margin-left: 100px;
	width: 643px;
	height: 407px;
	align-content: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 15px 15px #CAE62E, 30px 30px black;
	
}
.about_me p{
	font-weight: 300;
	font-size: 22px;
	padding: 10px 40px 10px 40px;
	text-align: left;
	text-indent: 4ch;
}

.footer_text{
	text-align: center;
	line-height: 32px;

}

.hidden{
	opacity:0;
	transition: all 1s;
}
.show{
	opacity: 1;
	
}
.imagegrow{
	width: 0px;
	transition: all 1.2s;
}

.resizing{
	width: 1066px;
}

@media (max-width: 393px){
	body{
	}
		
	h2{
		font-weight: 700;
		font-size: 25px;
		
	}
	h3{
		font-size: 20px;
	}

	h4{
		font-size: 20px;
		font-weight: 200;
		}

	footer{
		display: flex;
		justify-content: space-evenly;
		align-items:center;
		flex-wrap: wrap;
		flex-direction:row;
		color: white;
		background-color:#292A2D;
		height: 400px;
	}
	.my_header {
		height: 44px;
	 
	}
	.nav_bar{
		height: 44px;
		align-items: center;
	}
	button{
		border: none;
		width: 50px;
		background-color: transparent;
		font-size: 15px;
		font-family: "Inter", Sans-serif;
		font-weight: 300;
		color:white;
	}
	button img{
		width: 100%;
	}
	
	.landing_page{
	display: block;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	background: url("../img/main_background.png");
	background-size: 141%;
	background-position: 50% 50%;
	text-align: center;
	height: 700px;
	position: relative;
}
	.landing_logos{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	}
	.landing_logos img{
		width: 30%;
	}
	.works_page{
	margin-top: 90px;
}
	.work_banner{
		width: 393px;
		margin-bottom: -10px;
	}
	.container{
	height: 400px;
}

#work_carousel{
	grid-row: 1/2;
	grid-column: 1/8;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 600px;
	--items: 3;
	--middle: 2;
	--position: 1;
	pointer-events: none;
}


.work_item{
	text-align: center;
	position: absolute;
	width: 300px;
	height: 250px;
	--r: calc(var(--position) - var(--offset));
	--abs: max(calc(var(--r) * -1), var(--r));
	transition: all 0.25s linear;
	transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
	z-index: calc((var(--position) - var(--abs)));

}
.work_item img{
	width: 150px;
}
	
	
	
	
.style_page{ 
	height: 440px;
	width: 393px;
}

.style_page img{
	width: 90%;
	height: 70%;
}
.style_items{
	padding-top: 30px;
	width: 345px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0.5em;

	}

.style_vector{
	width: 140px;
	height: 120px;
}

.style_group{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.style_layout{
	width: 140px;
	height: 45px;
}
.style_illustration{
	width: 140px;
	height: 67px;
}
.style_motion{
	width: 290px;
	height: 50px;
}
.style_photography{
	width: 146px;
	height: 65px;	
}
.style_web{
	width: 136px;
	height: 65px;
}
	
.grow_button{
	width: 50%;
	font-size:15px;
	}
	
.about_page{
	height: 275px;
	background: url("../img/about_background.png");
	background-size: 100%;
}
.about_info{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 393px;
}
.about_info img{
		width: 30%;
}
.about_me{
	margin-left: 30px;
	width: 180px;
	height: 120px;
	align-content: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 5px 5px #CAE62E, 10px 10px black;
	
}
	.about_me p{
	font-weight: 300;
	font-size: 6.5px;
	padding: 1px 10px 10px 10px;
	text-align: left;
	text-indent: 4ch;
	}
	
	
footer{
	display: flex;
	justify-content: space-evenly;
	align-items:center;
	flex-wrap: wrap;
	flex-direction:row;
	color: white;
	background-color:#292A2D;
	height: 137px;
}
	footer img{
		width: 40%;
	}
	footer h3{
		font-size: 11px;
	}
	footer p{
		font-size: 9px;
	}
	
	.footer_text{
	text-align: center;
	line-height: 12px;
	}
}
